@import "../../styles/mixins";

.AutoInputWrapper {
  position: relative;
  font-family: "Manrope", sans-serif;
  img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 250px;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(75, 75, 75));
  }
  &__input {
    width: calc(100% - 44px);
    height: 23px;
    outline: unset;
    background-color: rgba(255, 255, 0, 0);
    border: 2px solid rgb(217, 54, 98);
    padding: 12px 18px;
    text-transform: capitalize;

    border-radius: 4px;
    color: white;
    font-size: 1.25rem;
    color: #c5c7cc;
  }
  &__SuggestionBox {
    width: calc(100% - 5px);
    overflow-y: scroll;
    height: calc(100% - 35px);
    @include make-flex($just: start, $align: flex-start);

    &--item {
      padding: 9.5px 15px;
      border-radius: 5px;
      background-color: antiquewhite;
      width: calc(100% - 30px);
      cursor: pointer;
      margin-top: 15px;
      text-transform: capitalize;
      &:focus,
      &:hover {
        background-color: #c74a6b;
        color: white;
      }
    }
  }
}
