@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  &::-webkit-scrollbar {
    // width: 6px !important;
    // height: 6px !important;
    height: 0;
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: hsla(0, 0%, 100%, 0.16);
  }
  &::-webkit-scrollbar-thumb {
    // background-color: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-track {
    // background-color: initial;
  }
  &::-webkit-scrollbar-track {
    // background: hsla(0, 0%, 100%, 0.1);
  }
}
